body {
  background-image: url('https://img.freepik.com/premium-photo/there-is-beer-glass-with-skeleton-it-sitting-table-generative-ai_901242-2475.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-top: 0px;
  padding-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
